/Kurssistatistiikka/.nb-gradle/
/Kurssistatistiikka/bin/
*.tmp
build/
/.nb-gradle/
gradle.properties
.gradle
.DS_Store
Kurssistatistiikka/.project
/HelloCucumber/.nb-gradle/
HelloCucumber/bin/
/LoginCucumber/.nb-gradle/
/LoginCucumber/bin/